<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=47.103.45.173;Initial Catalog=WECLEAN_Test;Persist Security Info=True;User ID=sa;Password=exfhYR6uoPH6vLFl12KL;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>